<style>

    .mr-4{margin-right:4rem;}
    .ml-2{margin-left:1rem;}
    .rt{position:fixed;right:5%;}
    .pointer{cursor:pointer;color:rgb(33,37,41);}
</style>

<div class="row">   
    <div class="col-lg-8"> 
        <div class="row">
            <div class="col-lg-4 mr-4">   
                @for(var j=1;j<5;j++){
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th colspan="5">Güz Dönemi @j .Sınıf</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Ders Kodu</th>
                            <th>Ders Adı</th>
                            <th>İEU Kredisi</th>
                            <th>AKTS Kredisi</th>
                        </tr>

                        @for (var i = 0; i < 6; i++)
                        {
                            <tr>
                                <td><a class="pointer" onclick="closer()">ACC 100</a> @i</td>
                                <td>Matematik @i</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                        }
                    </tbody>
                </table>
                }
    
            </div>

            <div class="col-lg-4 mr-2">
                    @for(var j=1;j<5;j++){
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                    <th colspan="5">Bahar Dönemi @j .Sınıf</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Ders Kodu</th>
                                <th>Ders Adı</th>
                                <th>İEU Kredisi</th>
                                <th>AKTS Kredisi</th>
                            </tr>

                                @for (var i = 0; i < 6; i++)
                                {
                                    <tr>
                                        <td>ELEC 00 @i</td>
                                        <td>Seçmeli @i</td>
                                        <td>3</td>
                                        <td>4</td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                    }
            </div>
        </div>
    </div>
    <div class="col-lg-4 rt d-none" id="openELEC">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th colspan="5">Seçmeli Ders Listesi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Ders Kodu</th>
                    <th>Ders Adı</th>
                    <th>İEU Kredisi</th>
                    <th>AKTS Kredisi</th>
                </tr>

                @for (var i = 0; i < 6; i++)
                {
                    <tr>
                        <td>ACC 100 @i</td>
                        <td>Matematik @i</td>
                        <td>3</td>
                        <td>4</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function closer(){
        var element = document.getElementById("openELEC");
        
        if(element.classList.contains("d-none")){
            element.classList.remove("d-none")
        }else{
            element.classList.add("d-none")

        }
    }

</script>
