@model fdoCurrApp.Models.Curr;

@{
    ViewData["Title"] = "Müfredat Girişi";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@*<h4>Name</h4>
@Model.courseName

<h4>Uni Kodu</h4>
@Model.uniCode*@

<div class="container">

    <div class="row">   
    <div class="col-lg-6">   
     @for(var j=1;j<5;j++){
        <table class="table">
            <thead>
                <tr>
                    <th colspan="5">Güz Dönemi @j .Sınıf</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ders Kodu</td>
                    <td>Ders Adı</td>
                    <td>İEU Kredisi</td>
                    <td>AKTS Kredisi</td>
                    <td>İçerik Ekle</td>
                </tr>

                @for (var i = 0; i < 6; i++)
                {
                    <tr>
                        <td>ACC 100 @i</td>
                        <td>Matematik @i</td>
                        <td>3</td>
                        <td>4</td>
                        <td>-</td>
                    </tr>
                }
            </tbody>
        </table>
     }
    
    </div>

    <div class="col-lg-6">
         @for(var j=1;j<5;j++){
            <table class="table">
                <thead>
                    <tr>
                         <th colspan="5">Bahar Dönemi @j .Sınıf</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ders Kodu</td>
                        <td>Ders Adı</td>
                        <td>İEU Kredisi</td>
                        <td>AKTS Kredisi</td>
                        <td>İçerik Ekle</td>
                    </tr>

                        @for (var i = 0; i < 6; i++)
                        {
                            <tr>
                                <td>ELEC 00 @i</td>
                                <td>Seçmeli @i</td>
                                <td>3</td>
                                <td>4</td>
                                <td>+</td>
                            </tr>
                        }
                </tbody>
            </table>
         }
    </div>
    </div>
</div>
